sessions/
accounts/
accouts/
campaign/
server_campaign/
output/*.db
output/*.json
config/accounts.json
config/settings.json
config/proxies.txt
config/session_bind.txt
config/groups.txt
config/ignor_list.txt
__pycache__/
*.pyc
